.parent {
border: 2px solid #DFA612;
color: black;
display: flex;
font-family: sans-serif;
font-weight: bold;
}

.origin {
flex-basis: 100%;
flex-grow: 1;
padding: 10px;
}

.example-dropzone {
background-color: #6DB65B;
flex-basis: 100%;
flex-grow: 1;
padding: 10px;
}

.dropped-item {
background-color: white;
border: 1px solid black;
padding: 10px;
}

.dropzone {
height: 10px;
background-color: blue;
}